<link rel="stylesheet" href="../build/css/estilos.css">
<script src="../build/js/funciones.js"></script>


<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="logo">
            <a class="twbs" href="/">{{twbs}}</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav navIni">
                <li class="navIni nav-item">
                    <a class="active" href="ini"><i class="fa fa-house"></i>Inicio</a>
                </li>
                <li class="navIni nav-item">
                    <a href="confi"><i class="fa fa-address-book"></i>Confirguración</a>
                </li>
                <li class="navIni nav-item">
                    <a href="usu"><i class="fa fa-users"></i>Usuarios</a>
                </li>
                <li class="navIni nav-item">
                    <a href="com"><i class="fa fa-clipboard-list"></i>Compras</a>
                </li>
                <li class="navIni nav-item dropdown">
                    <a id="servicio"><i class="fa fa-handshake"></i>
                        Servicios
                        <i class="fa fa-chevron-up" id="flecha"></i></a>
                    <div id="servUl">
                        <ul>
                            <li><a href="empl" class="servIl"><i class="fa fa-user-group"></i>Empleados</a></li>
                            <li><a href="agend" class="servIl"><i class="fa fa-calendar-day"></i>Agendamiento de
                                    citas</a></li>
                            <li><a href="pagoBoni" class="servIl"><i class="fa fa-hand-holding-dollar"></i>Pago de
                                    bonificaciones</a></li>
                        </ul>
                    </div>
                </li>
                <li class="navIni nav-item dropdown">
                    <a id="venta"><i class="fa fa-user-tag"></i>
                        Ventas
                        <i class="fa fa-chevron-up" id="flecha2"></i></a>
                    <div id="venUl">
                        <ul>
                            <li><a href="clientes" class="venIl"><i class="fa fa-users-line"></i>Clientes</a></li>
                            <li><a href="gestVentas" class="venIl"><i class="fa fa-chart-line"></i>Gestión de ventas</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="navIni nav-item">
                    <a href="/"><i class="fa fa-right-from-bracket"></i>Salir</a>
                </li>
            </ul>
        </div>
    </div>
</nav>